#cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* 卡片在容器裡面的排版 */
  flex: 7% 0 1;
  height: 8vw;
  border: 2px solid #e0e0e0;
  margin: 2px;
  box-sizing: border-box;

  /* 卡片內部元素的排版 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* animation-name: flip;
  animation-duration: 0.5s; */
}

/* @keyframes flip {
    from {
      transform: rotateY(0deg)
    }
    to {
      transform: rotateY(180deg);
      transition: all 0.6s;
} */

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 10px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;,
}